
body {
    margin: 1%;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    background-color: grey;
}

@media screen and (max-width: 768px) {
    body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 100%;
    max-width: 100%;
    font-size: small;
    }
  }

#logo {
    width:150px;
    height: 100px;
    padding: 5px;
    margin-bottom: 5px;
    border:10px solid maroon;
}

.lienH a{
   text-decoration: none;
}

.lienH:hover {
    border-top: 5px solid black;
    padding: 70px 30px 0 30px;
}

.lienA a {
    text-decoration: none;
    color: black;
}

.lienI {
    color: #0065FC;
    font-weight: bold;
}

.hebergements a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}


.Hautpage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 10px solid maroon;
}


nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row; 
}


nav li {
   margin: 90px;
}

.filtres {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 2250px;
    border:10px solid yellow;
}


.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 14px 0 0 14px;
}

input {
    padding: 25px;
    border:2px solid #f2f2f2;
}

::placeholder {
    font-weight: bold;
    color: black;
    opacity: 1;
}

.rechercher {
    background-color:#0065FC;
    border:1px solid #0065FC;
    color: white;
    border-radius: 0 14px 14px 0;
    padding: 25px;
}

.ChampsRecherche {
   padding: 8px;
}

.ChampsRecherche, input, .rechercher{
    font-size: 40px;
    border: orangered;
}

.fa-money-bill-wave,.fa-heart, .fa-male, .fa-dog {
    padding: 20px 17px 20px 17px;
    border-radius: 50px;
    background-color: #DEEBFF ;
    color: #0065FC;
    position:absolute;
    left: 0px;
    top: 3px;
    z-index: 2;
}

.fa-male {
    padding:22px 33px 22px 33px;
    border-radius: 53px;
    background-color: #DEEBFF ;
    color: #0065FC;
    position:absolute;
    left: 0px;
    top: 3px;
    z-index: 2;
}



#eco, #fam, #rom, #anim {
    margin: 33px;
    padding: 20px 80px 20px 80px;
    border : solid 2px #D3D0D2;
    border-radius: 50px;
    font-weight: normal;
    position: relative;
    z-index:1;
}

#eco:hover, #fam:hover, #rom:hover, #anim:hover {
    border: 8px solid rgb(177, 175, 175);
    color: rgb(5, 16, 22);
    font-weight: bold;
    background-color: wheat;


}

.economique, .romantique, .animaux, .familial {
    position: relative;
    left:43px;
    font-size: 40px;
    font-weight: bold;
}

.info {
    margin: 20px;
}


.fa-info{
    color:#0065FC;
    border:2px solid #DEEBFF;
    padding:12px 23px 12px 23px;
    border-radius: 46px;
}




.BoxHP {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

@media screen and (max-width: 768px) {
    .BoxHP {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 100%;
    max-width: 100%;
    font-size:smaller;
    color: indigo;
    }
  }



.HebergementsMarseille {
    border: 10px solid blue;
    border-radius: 20px;
    padding: 80px;
    flex: 40%;
    background-color: #f2f2f2;
    margin: 40px 50px 40px 0;
}

@media screen and (max-width: 768px) {
    .HebergementsMarseille{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 100%;
    max-width: 100%;
    color: indigo;
    }
  }


.LesPlusPopulaires {
    border: 10px solid rgb(216, 17, 50);
    padding:80px;
    flex:18%;
    background-color: #f2f2f2;
    margin: 40px 0 40px 50px;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
.LesPlusPopulaires{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 100%;
    max-width: 100%;
    font-size:smaller;
    color: indigo;
    }
  }




.hebergements {
    border: 10px solid rgb(0, 247, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;

}


.auberge-la-cannebiere, .hotel-du-port, .hotel-les-mouettes, .hotel-de-la-mer, .auberge-le-panier, .hotel-chez-amina {
    background-color: white;
    overflow: hidden;
    border: 5px solid green;
    border-radius: 15px;
    align-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.hebergements img {
    border-radius:40px 40px 0 0;
    height: 280px;
    width: 580px;
    object-fit: cover;
    margin: 0;
}



.titreP{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.populaires {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 10px solid rgb(134, 26, 44);
}



.hotel-le-soleil-du-matin, .au-coeur, .hotel-tout-bleu-et-blanc {
    background-color: white;
    border: 8px solid rgb(241, 86, 112);
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.populaires img {
    border-radius:40px 0 0 40px;
    height: 300px;
    width: 280px;
    margin-right: 20px;
    object-fit: cover;
}

.ActivitesMarseille {
    overflow: hidden;
    border: 10px solid rgb(238, 19, 19);
    height:1285px;
    margin: 50px 0 50px 0;
}

.activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:50px;
}



.colonneA1, .colonneA2{
    border: 8px solid rgb(248, 248, 46);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1095px;
}


.vieux-port, .fort-de-promegues, .iles-du-frioul, .parc-national-des-calanques, .notre-dame-de-la-garde, .parc-longchamps {
    border-radius: 40px;
    border: 5px solid rgb(248, 244, 16);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h4 {
    border: 10px solid black;
}

.activites img {
    border-radius:40px 40px 0 0;
    object-fit: cover;
}

.notre-dame-de-la-garde img, .parc-longchamps img {
    height: 330px;
    width: 750px;
    object-fit: cover;
}

.iles-du-frioul img {
    height: 200px;
    width:750px;
}


.fort-de-promegues img {
    height:480px;
    width:750px;
    object-fit: cover;
}

.vieux-port img, .parc-national-des-calanques img {
    height: 950px;
    width: 750px;
    object-fit: cover;
}




footer {
    border: 5px solid red;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 100%;
        max-width: 100%;
        color: rgb(54, 228, 132);
        }
      }
    

