
#logo {
    width:80px;
    height: 50px;
    padding: 5px;
    margin-bottom: 5px;
}



body {

    font-family: 'Raleway', sans-serif;
}

#bloc_page {
    width: 1000px;
    margin: auto;
}


nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

nav li 
{
    margin: 30px;
}



.rechercher {

    background-color:#0065FC;
    color: white;
    border-radius: 0 8px 8px 0;
    padding: 7px;
    margin: 5px 0 15px 0;
}

input {
    padding: 7px;
}

::placeholder {
    font-weight: bold;
    color: black;
    opacity: 1;
}




.HebergementsMarseille, .populaires {
    background-color: #f2f2f2;
    border-radius: 12px;
    padding: 5px;
    margin: 20px;
}

footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.apropos {
    margin-left: 0px;
}

.fa-money-bill-wave, .fa-male, .fa-heart, .fa-dog {
    font-size: small;
    width: 17px;
    height: 17px;
    padding: 10px;
    border-radius: 17px;
    background-color: #DEEBFF ;
    color: #0065FC;

}

.fa-map-marker-alt {
    font-size: small;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px 0 0 8px;
}

.fa-info{
    color:#0065FC;
}

#economique, #familial, #romantique, #animaux {
    margin: 20px;
    padding: 8px;
    border : solid 2px #D3D0D2;
    border-radius: 18px;
    font-weight: bold;
    

}

.ContainerHebergements, .ContainerLesPlusPopulaires {
    display: flex;
    flex-direction: row;
}

.ContainerHebergements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ContainerActivites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ContainerLesPlusPopulaires {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}




