
body {
    margin: 2%;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

@media screen and (max-width: 768px) {
    body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 100%;
    max-width: 100%;
    font-size: small;
    }
  }

#logo {
    width:290px;
    height: 200px;
    padding: 5px;
    margin-bottom: 5px;
}

.lienH a{
   text-decoration: none;
}

.lienH:hover {
    border-top: 5px solid black;
    padding: 70px 30px 0 30px;
}

.lienA a {
    text-decoration: none;
    color: black;
}

.lienI {
    color: #0065FC;
    font-weight: bold;
}

.hebergements a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}


.Hautpage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row; 
}


nav li {
   margin: 90px;
}

.filtres {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 2250px;
    margin: 60px;
}


.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 14px 0 0 14px;
}

input {
    padding: 25px;
    border:2px solid #f2f2f2;
}

::placeholder {
    font-weight: bold;
    color: black;
    opacity: 1;
}

.rechercher {
    background-color:#0065FC;
    border:1px solid #0065FC;
    color: white;
    border-radius: 0 14px 14px 0;
    padding: 25px;
}

.ChampsRecherche {
   padding: 8px;
}

.ChampsRecherche, input, .rechercher{
    font-size: 40px;
}

.fa-money-bill-wave,.fa-heart, .fa-male, .fa-dog {
    padding: 20px 17px 20px 17px;
    border-radius: 50px;
    background-color: #DEEBFF ;
    color: #0065FC;
    position:absolute;
    left: 0px;
    top: 3px;
    z-index: 2;
}

.fa-male {
    padding:22px 33px 22px 33px;
    border-radius: 53px;
    background-color: #DEEBFF ;
    color: #0065FC;
    position:absolute;
    left: 0px;
    top: 3px;
    z-index: 2;
}



#eco, #fam, #rom, #anim {
    margin: 33px;
    padding: 20px 90px 20px 90px;
    border : solid 2px #D3D0D2;
    border-radius: 50px;
    font-weight: normal;
    position: relative;
    z-index:1;
}

#eco:hover, #fam:hover, #rom:hover, #anim:hover {
    border: 8px solid rgb(250, 247, 247);
    color: rgb(5, 16, 22);
    font-weight: bold;
    background-color: rgb(213, 253, 253);


}

.economique, .romantique, .animaux, .familial {
    position: relative;
    left:43px;
    font-size: 40px;
    font-weight: bold;
}

.info {
    margin: 20px;
}


.fa-info{
    color:#0065FC;
    border:2px solid #DEEBFF;
    padding:12px 23px 12px 23px;
    border-radius: 46px;
}

.fa-star {
    color:#0065FC;
}

.etoilegrise>.fa-star{
    color: #b6b6b0;
}

.fa-chart-line {
    font-size: 60px;
}






.BoxHP {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .BoxHP {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 100%;
    max-width: 100%;
    font-size:smaller;
    color: indigo;
    }
  }



.HebergementsMarseille {
    border-radius: 20px;
    padding: 150px;
    flex: 40%;
    background-color: #f2f2f2;
    margin: 40px 50px 40px 0;
    height:1900px;

}

@media screen and (max-width: 768px) {
    .HebergementsMarseille{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 100%;
    max-width: 100%;
    color: indigo;
    }
  }


.LesPlusPopulaires {
    padding:150px;
    flex:18%;
    background-color: #f2f2f2;
    margin: 40px 0 40px 50px;
    border-radius: 20px;
    height:1900px;

}

@media screen and (max-width: 768px) {
.LesPlusPopulaires{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 100%;
    max-width: 100%;
    font-size:smaller;
    color: indigo;
    }
  }



.titreH {
    margin-bottom: 100px;
}

.hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
    height: 1600px;
    width: fit-content;

}



.auberge-la-cannebiere, .hotel-du-port, .hotel-les-mouettes, .hotel-de-la-mer, .auberge-le-panier, .hotel-chez-amina {
    background-color: white;
    border: 15px solid white;
    overflow: hidden;
    border-radius: 40px;
    align-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.hebergements img {
    border-radius:40px 40px 0 0;
    height: 370px;
    width: 630px;
    object-fit: cover;
}



.titreP{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 100px;
}

.pop{

    margin-left: 50px;
}

.pop>.fa-star {
    margin-top:100px;
}

.populaires {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    overflow: auto;
    height: 1600px;
    justify-content: space-between;
    align-content: flex-start;

}



.hotel-le-soleil-du-matin, .au-coeur, .hotel-tout-bleu-et-blanc {
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.populaires img {
    border-radius:40px 0 0 40px;
    border: 15px solid white;
    height: 400px;
    width: 350px;
    margin-right: 20px;
    object-fit: cover;
}

.ActivitesMarseille {
    overflow: hidden;
    height:1430px;
    margin: 70px 0 70px 0;

}

.titreA {
    margin-bottom: 100px;
}

.activites h4 {
    margin-left: 40px;
}

.activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:50px;

}



.colonneA1, .colonneA2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1200px;

}


.vieux-port, .fort-de-promegues, .iles-du-frioul, .parc-national-des-calanques, .notre-dame-de-la-garde, .parc-longchamps {
    border-radius: 40px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.activites img {
    border-radius:40px 40px 0 0;
    object-fit: cover;
}

.notre-dame-de-la-garde img, .parc-longchamps img {
    height: 400px;
    width: 820px;
    object-fit: cover;
}

.iles-du-frioul img {
    height: 250px;
    width:820px;
}


.fort-de-promegues img {
    height:540px;
    width:820px;
    object-fit: cover;
}

.vieux-port img, .parc-national-des-calanques img {
    height: 1050px;
    width: 820px;
    object-fit: cover;
}




footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 100%;
        max-width: 100%;
        color: rgb(54, 228, 132);
        }
      }
    

