* {
    box-sizing: border-box;
}


body {
    margin: 1%;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.Hautpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


#logo {
    width:200px;
    height: 150px;
    padding: 5px;
    margin-bottom: 5px;
}

nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row; 
    border: 2px solid maroon;
}


.lienH a{
   text-decoration: none;
}


.lienH:hover {
    border-top: 5px solid black;
    padding: 70px 30px 0 30px;
}


.lienA a {
    text-decoration: none;
    color: black;
}

.lienI {
    color: #0065FC;
    font-weight: bold;
}



nav li {
   margin: 90px;
}


.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 14px 0 0 14px;
}

input {
    padding: 25px;
    border:2px solid #f2f2f2;
}

::placeholder {
    font-weight: bold;
    color: black;
    opacity: 1;
}

.rechercher {
    background-color:#0065FC;
    border:1px solid #0065FC;
    color: white;
    border-radius: 0 14px 14px 0;
    padding: 25px;
}

.ChampsRecherche {
   padding: 8px;
}

.ChampsRecherche, input, .rechercher{
    font-size: 30px;
}


.filtres {
    font-size: 30px;
    margin: 90px;
}

.filtres h3 {
    display: inline-block;
}


.fa-money-bill-wave,.fa-heart, .fa-male, .fa-dog {
    padding: 20px 17px 20px 17px;
    border-radius: 50px;
    background-color: #DEEBFF ;
    color: #0065FC;
    position:absolute;
    left: 0px;
    top: 3px;
    z-index: 2;
}

.fa-male {
    padding:22px 33px 22px 33px;
    border-radius: 53px;
    background-color: #DEEBFF ;
    color: #0065FC;
    position:absolute;
    left: 0px;
    top: 3px;
    z-index: 2;
}



#eco, #fam, #rom, #anim {
    margin: 33px;
    padding: 20px 90px 20px 90px;
    border : solid 2px #D3D0D2;
    border-radius: 50px;
    font-weight: normal;
    position: relative;
    z-index:1;
}

#eco:hover, #fam:hover, #rom:hover, #anim:hover {
    border: 8px solid rgb(250, 247, 247);
    color: rgb(5, 16, 22);
    font-weight: bold;
    background-color: rgb(213, 253, 253);


}

.economique, .romantique, .animaux, .familial {
    position: relative;
    left:43px;
    font-size: 30px;
    font-weight: bold;
}



.info {
    margin: 20px;
}


.fa-info{
    color:#0065FC;
    border:2px solid #DEEBFF;
    padding:12px 23px 12px 23px;
    border-radius: 46px;
}

.fa-star {
    color:#0065FC;
}

.etoilegrise>.fa-star{
    color: #b6b6b0;
}

.fa-chart-line {
    font-size: 40px;
}



.BoxHP {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 100px;
}


.HebergementsMarseille {
    padding: 100px;
    flex: 40%;
    background-color: #f2f2f2;
    margin: 40px 50px 40px 0;
    border-radius: 40px;
}




.LesPlusPopulaires {
    padding:100px;
    flex:18%;
    background-color: #f2f2f2;
    margin: 40px 0 40px 50px;
    border-radius: 40px;

}





.titreH {
    margin-bottom: 100px;
}

.hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    overflow: hidden;
    flex-wrap: wrap;
   

}


.hebergements a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}





.auberge-la-cannebiere, .hotel-du-port, .hotel-les-mouettes, .hotel-de-la-mer, .auberge-le-panier, .hotel-chez-amina {
    background-color: white;
    border: 15px solid white;
    overflow: hidden;
    border-radius: 40px;
    align-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin:70px;
  
}

.hebergements img {
    border-radius:40px 40px 0 0;
    height: 395px;
    width: 655px;
    object-fit: cover;
}

.afficherplus {
    margin-top: 100px;
}



.titreP{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 100px;
}

.pop{

    margin-left: 50px;
}

.pop>.fa-star {
    margin-top:100px;
}

.populaires {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    align-content: flex-start;

}



.hotel-le-soleil-du-matin, .au-coeur, .hotel-tout-bleu-et-blanc {
    background-color: white;
    border: 10px solid white;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin:50px;
}

.populaires img {
    border-radius:40px 0 0 40px;
    border: 15px solid white;
    height: 420px;
    width: 370px;
    margin-right: 20px;
    object-fit: cover;
}



.ActivitesMarseille>h2{
    flex: 100%;
    margin-top: 60px;
}

.ActivitesMarseille{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content:center;


    border: 4px solid rgb(185, 19, 19);

}



.colonneA1, .colonneA2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;


    border: 3px solid black;

}

.ActivitesMarseille img {
    border-radius:40px 40px 0 0;
    object-fit: cover;
}

.vieux-port, .fort-de-promegues, .iles-du-frioul, .parc-national-des-calanques, .notre-dame-de-la-garde, .parc-longchamps {
    border-radius: 40px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin:40px;
}




.notre-dame-de-la-garde img, .parc-longchamps img {
    height: 430px;
    width: 840px;
    object-fit: cover;
}

.iles-du-frioul img {
    height: 270px;
    width:840px;
    object-fit: cover;
}


.fort-de-promegues img {
    height:570px;
    width:840px;
    object-fit: cover;
}

.vieux-port img, .parc-national-des-calanques img {
    height: 1070px;
    width: 840px;
    object-fit: cover;
}



footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}


/*Contenu pour un écran de 1024px de largeur comme un  ipad*/
   
@media screen and (max-width: 1024px) {

            body {
                width:100%;
                box-sizing: border-box;
                font-size: 22px;
                flex-wrap: wrap;
                margin: 25px;
                
                background-color: springgreen;
                border: 15px rgb(19, 18, 3);
            }

            #logo {
                height:100px;
                width: 100px;
            }

            .Hautpage {
                box-sizing: border-box;
               
                width: 100%;
                color: mediumorchid;
                display: flex;
                flex-direction: column;

                border: 5px solid maroon;
            }

            nav li {
                margin: 30px;
             }
             

            .lienH a:hover {
                border-bottom: 5px solid #0065FC;
                padding: 0 20px 10px 20px;
                color: beige;
            }
          
            .ChampsRecherche, input, .rechercher{
                font-size: 20px;
                text-align: center; 
            }

            .ChampsRecherche{
                 margin: 15px;
            }
    
            .filtres>h3 {
                flex-basis: 100%;
            }

            .filtres {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
                margin: 10px;
                text-align: center;

                border:4px solid green;
            }



            #eco, #rom, #anim, #fam, .economique,.romantique,.animaux,.familial{
                margin: 10px;
                padding: 20px 15px 20px 15px;
                font-size: 20px;
            }

            .fa-male {
                padding:19px 26px 19px 26px;
            }


           
            .HebergementsMarseille, .LesPlusPopulaires{
                    
                padding:7px;
                margin:3px;
                width: 100%;
                height: auto;

                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;


            }

            .hebergements, .ActivitesMarseille,.populaires {
                padding: 7px;
                margin-bottom: 10px;
                width: 100%;

                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
               
                border: 2px solid greenyellow;
                
            }
            

            .BoxHP {
                    display: flex;
                    flex-direction: column;
                     width: 100%;
                    height: auto;
                    
                    border: 3px solid rgb(247, 2, 2);
                    }

                                .LesPlusPopulaires {
                                    text-align: center;
                                    overflow: hidden;
                                    order:0;
                                    }

                                    .responsiveP {
                                        width: 100%;
                                        height: 400px;
                                    }

                                    .populaires img {
                                        margin-right: 0px;

                                        border: 2px solid green;
                                    }

                                    .hotel-le-soleil-du-matin, .au-coeur, .hotel-tout-bleu-et-blanc {
                                        border: 2px solid white;
                                       
                                    }
                                    

                                .HebergementsMarseille {
                                    overflow: hidden;
                                    order:1;
                                    background-color: white;

                                    border:3px solid blue;
                                    }

                .auberge-la-cannebiere, .hotel-du-port, .hotel-les-mouettes, .hotel-de-la-mer, .auberge-le-panier, .hotel-chez-amina {
                   
                    border: 9px solid rgb(0, 81, 255);
                }

                .responsiveH {
                    width:100%;
                    height:150px;
                    border:2px solid rgb(36, 250, 250);
                    
                }
            
                .titreH {
                    text-align: center;
                }



                            .ActivitesMarseille {
                            
                            
                                border: 2px solid yellow;
                            }

                            .colonneA1, .colonneA2 {
                                display: inline-block;
                            }


                            .notre-dame-de-la-garde img, .parc-longchamps img,  .iles-du-frioul img,.fort-de-promegues img,
                            .vieux-port img, .parc-national-des-calanques img {

                                margin: 1px;
                                width: 100%;
                                height: 500px;
                            }


                            
              

                footer{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: 100%;
                    margin: none;
                    padding: 25px;
    
    
                    color: rgb(193, 54, 228);
                    }
    

            }



            @media screen and (max-width: 667px) {
                body {
                    font-size: 20px;
                    background-color: hotpink;
                }

                #logo {
                    height:50px;
                    width: 50px;
                }

                nav li {
                    width: 100%;
                }

                .ChampsRecherche{
                    font-size: 20px;
                    text-align: center;
                    width: 100%;

            }
                .input {
                    padding: 5px;
                }

                .fa-map-marker-alt {
                    padding: 5px;
                }

                .rechercher {
                    padding: 5px;
                }

                .ChampsRecherche {
                    padding: 4px;
                }

            }






        
            

                
    