
html {
    margin: 1%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#logo {
    width:100px;
    height: 60px;
    padding: 5px;
    margin-bottom: 5px;
    border:10px solid maroon;
}
.lienH a{
   text-decoration: none;
}

.lienH:hover {
    border-top: 5px solid black;
    padding: 70px 30px 0 30px;
}

.lienA a {
    text-decoration: none;
    color: black;
}

.lienI {
    color: #0065FC;
    font-weight: bold;
}


#Hautpage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 10px solid maroon;
}

nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row; 
}

nav li {
   margin: 70px;
}

.filtres {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 1600px;
    border:10px solid yellow;
}


.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 8px 0 0 8px;
}

input {
    padding: 8px;
    border:1px solid #f2f2f2;
}

::placeholder {
    font-weight: bold;
    color: black;
    opacity: 1;
}

.rechercher {
    background-color:#0065FC;
    border:1px solid #0065FC;
    color: white;
    border-radius: 0 8px 8px 0;
    padding: 8px;
}

.ChampsRecherche {
   padding: 8px;
}

.fa-money-bill-wave, .fa-male, .fa-heart, .fa-dog {
    width: 16px;
    height: 17px;
    padding: 11px;
    border-radius: 18px;
    background-color: #DEEBFF ;
    color: #0065FC;
    position:absolute;
    left: 0px;
    bottom: 0.1px;
    z-index: 2;

}



.fa-info{

    color:#0065FC;
    border:1px solid #DEEBFF;
    padding: 7px;
    height:10px;
    width:10px;
    border-radius: 15px;
}

#flexeco, #flexfam, #flexrom, #flexanim {
    margin: 20px;
    padding: 8px 30px 8px 30px;
    border : solid 2px #D3D0D2;
    border-radius: 18px;
    font-weight: normal;
    position: relative;
    z-index:1;
}

#flexeco:hover, #flexfam:hover, #flexrom:hover, #flexanim:hover {
    border: 5px solid rgb(177, 175, 175);
    color: rgb(73, 70, 70);
    font-weight: bold;
}

.economique, .romantique, .animaux, .familial {
    position: relative;
    left:15px;
}

.info {
    margin: 20px;
   
}
.BoxHP {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}


.HebergementsMarseille, .Populaires {
    border: 20px solid black;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 5px;
    margin: 20px;
}


.Hebergements {
    border: 20px solid blue;
    padding: 40px;
    width:1500px;
    height: 850px;
    flex-grow: 2;
}

.BoxHebergements {
    border: 20px solid rgb(0, 247, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width:1400px;
    height: 750px;

}

.auberge-la-cannebiere, .hotel-du-port, .hotel-les-mouettes, .hotel-de-la-mer, .auberge-le-panier, .hotel-chez-amina {
    overflow: hidden;
    border: 8px solid green;
    border-radius: 15px;
    width: 340px;
    height: 230px;
}

.LesPlusPopulaires {
    flex-grow: 1;
    width:700px;
    border: 10px solid rgb(216, 17, 50);
}

.TitrePopulaire{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.BoxPopulaires {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    border: 10px solid pink;
}

.ActivitesMarseille {
    display: flex;
}

.itemj {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 400px;
}



.hotel-le-soleil-du-matin, .au-coeur, .hotel-tout-bleu-et-blanc {
    border: 8px solid rgb(241, 86, 112);
}

footer {
    border: 5px solid red;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Hebergements, .Populaires, .Activites {
    border: 15px solid rgb(235, 179, 75);
}

.HebergementsMarseille, .LesPlusPopulaires, .ActivitesMarseille {
    border: 20px solid rgb(252, 136, 3);
}