* {
    box-sizing: border-box;
}


body {
    margin: 1%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: rgb(48, 46, 46);
}

.Hautpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


#logo {
    width:250px;
    height: 100px;
    padding: 5px;
    margin-bottom: 5px;
}

nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row; 
}


.lienH a{
   text-decoration: none;
}


.lienH:hover {
    border-top: 2px solid #0065FC;
    padding: 70px 30px 0 30px;
}


.lienA a {
    text-decoration: none;
    color: black;
}

.lienI {
    color: #0065FC;
    font-weight: bold;
}



nav li {
   margin: 70px;
}


.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 13px;
    border-radius: 8px 0 0 8px;
}

input {
    padding: 9.5px;
    border:2px solid #f2f2f2;
}

::placeholder {
    font-weight: bold;
    color: black;
    opacity: 1;
}

.rechercher {
    background-color:#0065FC;
    border:1px solid #0065FC;
    color: white;
    border-radius: 0 8px 8px 0;
    padding: 10px;
}

.ChampsRecherche {
   padding: 4px;
}

.ChampsRecherche, input, .rechercher{
    font-size: 14px;
}


.filtres {
    font-size: 14px;
    margin: 10px;
}

.filtres h3 {
    display: inline-block;
}


.fa-money-bill-wave,.fa-heart,.fa-dog {
    padding: 11px 8px 11px 8px;
    border-radius: 40px;
    background-color: #DEEBFF ;
    color: #0065FC;
    position:absolute;
    left: 0px;
    top: 1px;
    z-index: 2;
}

.fa-male {
    padding:11px 15px 11px 15px;
    border-radius: 30px;
    background-color: #DEEBFF ;
    color: #0065FC;
    position:absolute;
    left: 0px;
    top: 1px;
    z-index: 2;
}



#eco, #fam, #rom, #anim {
    margin: 10px;
    padding: 10px 40px 10px 40px;
    border : solid 2px #D3D0D2;
    border-radius: 40px;
    font-weight: normal;
    position: relative;
    z-index:1;
}

#eco:hover, #fam:hover, #rom:hover, #anim:hover {
    border: 4px solid rgb(250, 247, 247);
    color: rgb(5, 16, 22);
    font-weight: bold;
    background-color: rgb(213, 253, 253);


}

.economique, .romantique, .animaux, .familial {
    position: relative;
    font-size: 14px;
    font-weight: bold;
}

/*info*/

.info {
    margin: 15px;
}


.fa-info{
    color:#0065FC;
    border:1px solid #DEEBFF;
    padding:8px 12px 8px 12px;
    border-radius: 20px;
}

/*etoile*/

.fa-star {
    color:#0065FC;
    font-size: 9px;
}

.etoilegrise>.fa-star{
    color: #b6b6b0;
}

/*logo fleche*/

.fa-chart-line {
    font-size: 20px;
}

/*paragraphes, heading */

.hebergements p, .hebergements h4, .populaires p, .populaires h4, .ActivitesMarseille h4 {
    margin-left: 10px;
    margin-top: 1px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0px;
    line-height: 20px;
}

/*etoiles */

.etoiles {
    margin-left: 10px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 4px;
    padding: 0;
    line-height: 20px;
}

.etoilesP{
    margin-top:45px;
    margin-left:10px;
    margin-right:0;
    margin-bottom:4px;
}


/*Grande boite*/

.BoxHP {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;


    border: 6px solid red;
}


.HebergementsMarseille {
    padding: 10px;
    width: 60%;
    background-color: #f2f2f2;
    margin: 0px 20px 10px 0;
    border-radius: 30px;

    
    border: 5px solid blue;
}




.LesPlusPopulaires {
    padding:10px;
    width:35%;
    background-color: #f2f2f2;
    margin: 0px 0 10px 20px;
    border-radius: 30px;


    border:5px solid rgb(219, 7, 184);

}

/*Hebergements*/


.titreH {
    margin-bottom: 5px;
}



.hebergements {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 10px;
   

    border: 4px solid rgb(0, 195, 255);
}


.hebergements a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}

/*div hebergements*/

.auberge-la-cannebiere, .hotel-du-port, .hotel-les-mouettes, .hotel-de-la-mer, .auberge-le-panier, .hotel-chez-amina {
    background-color: white;
    border: 10px solid white;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin:7px;
    width:30%;
   


    border: 3px solid rgb(7, 52, 134);
  
}

/*hebergements images*/

.hebergements img {
    border-radius:25px 25px 0 0;
    width: 100%;
    height: 130px;
    object-fit: cover;

    border: 3px solid rgb(5, 138, 138);
}

.afficherplus {

    border: 3px solid maroon;
    margin-top: 20px;
    margin-bottom: 50px;
}

/*Fin hebergements*/

/*section populaire*/

.titreP{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 5px;

    
    border: 2px solid rgb(222, 27, 248);
}

.pop{

    margin-left: 10px;
}



/*petite boite populaire*/

.populaires {
    display: flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    align-content:space-around;
    padding: 10px;


    border: solid 4px rgb(5, 209, 22);

}

/*div populaire*/

.hotel-le-soleil-du-matin, .au-coeur, .hotel-tout-bleu-et-blanc {
    background-color: white;
    border: 10px solid white;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90%;
    margin:7px;


    border: 3px solid rgb(245, 14, 25);
}

/*images pop*/

.populaires img {
    border-radius:25px 0 0 30px;
    border: 15px solid white;
    width: 120px;
    height: 110px;
    object-fit: cover;


    border: 3px solid rgb(107, 3, 107);
}


/*Activites */



.ActivitesMarseille>h2{
    flex: 100%;
    margin-top: 50px;
    border: 3px solid rgb(223, 223, 160);
}




.ActivitesMarseille{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content:center;
    padding: 20px;
    width: 100%;
    
    border: 5px solid rgb(168, 5, 5);
}



.colonneA1, .colonneA2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;


    border:3px solid rgb(253, 166, 5);

}


.ActivitesMarseille img, .colonneA1 img, .colonneA2 img {
    border-radius:25px 25px 0 0;
    object-fit: cover;
    width: 100%;

    border: 3px solid rgb(60, 255, 0);
}



.vieux-port,  .parc-national-des-calanques {
    border-radius: 25px;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    width: 22%;
    height: 430px;


    border:3px solid rgb(12, 14, 6);
}

.vieux-port img, .parc-national-des-calanques img {
    height: 380px;
    object-fit: cover;
}


.fort-de-promegues {
    border-radius: 25px;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    width: 100%;
    height: 250px;


    border:3px solid rgb(12, 14, 6);
}

.fort-de-promegues img {
    height:200px;
    object-fit: cover;

}

.iles-du-frioul {
    border-radius: 25px;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    width: 100%;
    height: 150px;


    border:3px solid rgb(12, 14, 6);
}

.iles-du-frioul img {
    height: 100px;
    object-fit: cover;

}

.notre-dame-de-la-garde, .parc-longchamps {
    border-radius: 25px;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    width: 100%;
    height: 200px;


    border:3px solid rgb(12, 14, 6);
}

.notre-dame-de-la-garde img, .parc-longchamps img {
    height:150px;
    object-fit:cover;

    border: 3px solid rgb(218, 9, 218);
}


footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

 
@media screen and (max-width: 1024px) {

    * {
        box-sizing: border-box;
    }

    body {
        width:100%;
        box-sizing: border-box;
        font-size: 14px;
        flex-wrap: wrap;
        margin:4%;
    }

    #logo {
        height:100px;
        width: 100px;
    }

    .Hautpage {
       
        width: 100%;
        display: flex;
        flex-direction: column;  
    }

    nav li {
        margin: 30px;
     }
     

    .lienA a {
        border-bottom:1px solid rgb(180, 174, 174);
        padding: 0 60px 10px 60px;
    }

    .lienH {
        border-bottom: 1px solid #0065FC;
        padding:0 60px 10px 60px;
    }

    .lienH:hover {
        display:none;
    }

    .fa-map-marker-alt {
        padding: 18px;
        border-radius: 14px 0 0 14px;
    }

    input {
        padding: 14.5px;
       
    }
  
    .ChampsRecherche, input, .rechercher{
        font-size: 14px;
        text-align: center; 
    }

    .ChampsRecherche{
         margin: 20px;
    }

    .rechercher {
        border-radius: 0 14px 14px 0;
        padding: 16px;
    }

    .fa-info{
        padding:5px 8px 5px 8px;
        border-radius: 15px;
    }

    .filtres>h3 {
        flex-basis: 100%;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: 10px;
        text-align: center;

    }

    #eco, #rom, #anim, #fam, .economique,.romantique,.animaux,.familial{
        margin: 5px;
        padding: 20px 15px 20px 15px;
        font-size: 14px;
    }

    .fa-male {
        padding:19px 22px 19px 22px;
    }

    .fa-money-bill-wave,.fa-heart,.fa-dog {
        padding: 19px 16px 19px 16px;
        border-radius: 50px;
    }


   
    .HebergementsMarseille, .LesPlusPopulaires{
            
        padding:4px;
        margin:10px 0 10px 0;
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .hebergements, .ActivitesMarseille,.populaires {
        padding: 5px;
        margin-bottom: 10px;
        width: 100%;

        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
    

    .BoxHP {
            display: flex;
            flex-direction: column;
             width: 100%;
            height: auto;
            
            }

                        .LesPlusPopulaires {
                            text-align: left;
                            overflow: hidden;
                            align-content: center;
                            order:0;
                            margin: 0 0 10px 0;
                            }

                            .titreP {
                                margin-top:20px;
                            }

                            .pop{

                                margin-left: 5px;
                            }
                            

                            .populaires img {
                                width: 40%;
                                height: 280px;
                                object-fit: cover;
                            
                            }
                            .populaires img {
                                margin-right: 0px;
                            }

                            .fa-chart-line {
                                font-size: 25px;
                                padding: 10px;
                            }
                            

                            .hotel-le-soleil-du-matin, .au-coeur, .hotel-tout-bleu-et-blanc {
                                border: 10px solid white;
                               
                            }
                            

                        .HebergementsMarseille {
                            overflow: hidden;
                            order:1;
                            background-color: white;
                            margin:0 0 10px 0;
                            }

        .auberge-la-cannebiere, .hotel-du-port, .hotel-les-mouettes, .hotel-de-la-mer, .auberge-le-panier, .hotel-chez-amina {
           
            border: 10px solid white;
            width: 100%;
            margin:0 0 10px 0;
        }

        .hebergements img {
            width: 100%;
            height: 280px;
            object-fit: cover;

        }


                    .colonneA1, .colonneA2 {
                        width: 100%;
                    }

                    /*ipad*/
                    /*div activites*/
                    .vieux-port,.parc-national-des-calanques,.parc-longchamps,.notre-dame-de-la-garde,.fort-de-promegues,.iles-du-frioul {
                        width: 100%;
                        height:330px;
                        margin:0 0 10px 0;
                    }


                    /* img activites*/
                    .vieux-port img,.notre-dame-de-la-garde img, .parc-longchamps img,  .iles-du-frioul img,.fort-de-promegues img, .parc-national-des-calanques img {
                    

                        width: 100%;
                        height: 280px;
                    }

        footer{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            margin: none;
            padding: 25px;

            }


    }


    
/*Contenu pour un écran de 736px de largeur comme un  Iphone8 Plus par exemple*/
@media screen and (max-width: 736px)
{
    body {
        font-size: 12px;
    }

    #logo {
        height:65px;
        width: 65px;
        padding:none;
        margin-bottom:2px;
        text-align: center;
    }

    .Hautpage {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .liensnavigation{
       display: inline-block;
    }

    nav li{
        margin:10px;
    }

    
    .lienH a {
        border-bottom: 3px solid #0065FC;
        padding: 0 2px 5px 2px;
    }

    .lienA a {
        border-bottom:1px solid #DEEBFF;
        padding:0 2px 5px 2px;
    }

    .lienH {
        border-bottom: 1px solid #0065FC;
        padding:0 2px 5px 2px;
    }

    .lienH a:hover {
        display:none;
    }


    .fa-map-marker-alt {
        padding: 10.5px;
        border-radius: 10px 0 0 10px;
    }

    input {
        padding: 7.5px;
    }

    .rechercher {
        padding: 8px;
        border-radius: 0 12px 12px 0;
    }

    .ChampsRecherche, input, .rechercher{
        font-size: 12px;
    }

    .ChampsRecherche {
        margin:15px 0 10px 0;
    
    }

    .filtres h3 {
        font-size: medium;
    }

    .filtres {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
        margin: 0 0 8px 0;
        text-align: left;

    }
    #eco, #rom, #anim, #fam{
        margin: 5px;
        padding: 8px 12px 8px 12px;
        
    }
    .economique,.romantique,.animaux,.familial {
        font-size: 12px;
        position: relative;
        left:7px;
    }
    


    .fa-male {
        padding:10px 12px 10px 12px;
        position: absolute;
        bottom:3px;
        font-size: small;
    }

    .fa-money-bill-wave,.fa-heart,.fa-dog {
        padding: 9px 8px 9px 8px;
        border-radius: 35px;
        position: absolute;
        bottom:3px;
        font-size: small;
    }

    .info {
        margin-top: 5px;
    }
    
    
    .fa-info{
        padding:3px 5px 3px 5px;
        border-radius: 10px;
    }

    .titreP{
        margin-bottom: 10px;
    }

    .fa-chart-line {
        font-size: 15px;
        padding: 5px;
    }

    .LesPlusPopulaires {
        text-align: left;
        }

    
        .pop{
            text-align: left;
            margin-left: 1px;
        }

        .pop>.fa-star {
            margin-top:50px;
        }

    

    .populaires img {
        margin: 1px;
        height: 150px;
        width: 40%;
        border: 2px solid white;
        
    }

    .hotel-le-soleil-du-matin, .au-coeur, .hotel-tout-bleu-et-blanc {
        border: 1px solid white;
        width: 100%;

        

    }

    .auberge-la-cannebiere, .hotel-du-port, .hotel-les-mouettes, .hotel-de-la-mer, .auberge-le-panier, .hotel-chez-amina {
       
        border: 5px solid white;
        border-radius: 20px;
        text-align: left;
        width: 100%;
        height: fit-content;


    }

    .hebergements img {
        width:100%;
        height:120px;
        border-radius:20px 20px 0 0;
        
    }

    .afficherplus {
        margin-top: 2px;
    }

    .titreH {
        text-align: left;
    }

    .ActivitesMarseille {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .colonneA1,.colonneA2 {
        flex-wrap: wrap;
        width: 100%;
    }

    .notre-dame-de-la-garde img, .parc-longchamps img,  .iles-du-frioul img, .fort-de-promegues img,
    .vieux-port img, .parc-national-des-calanques img {

        width: 100%;
        height: 150px;
       
    }

    .notre-dame-de-la-garde, .parc-longchamps, .iles-du-frioul, .fort-de-promegues, .vieux-port,.parc-national-des-calanques {

        width: 100%;
        height: 200px;
       
    }

}






            

        

                





              




    
             






        
            

                
    